/* Reset some default styles */
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header nav {
    display: flex;
    align-items: center;
    background-color: #24292e;
    color: #fff;
    padding: 10px;
  }
  
  .menu-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .search-bar input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 3px;
    border: none;
  }
  
  .user-menu {
    display: flex;
    align-items: center;
  }
  
  .user-menu > div {
    margin-left: 10px;
  }
  
  /* Main content styles */
  main {
    display: flex;
    background-color: #0d1117;
    color: #c9d1d9;
  }
  
  .sidebar {
    width: 250px;
    padding: 20px;
    background-color: #161b22;
  }
  
  .repo-search input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: #0d1117;
    color: #c9d1d9;
  }
  
  .repo-list {
    margin-top: 20px;
  }
  
  .repo-list ul {
    list-style-type: none;
  }
  
  .repo-list li {
    margin-bottom: 5px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .feed-update {
    background-color: #161b22;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .feed-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    background-color: #c9d1d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .feed-details p {
    margin-bottom: 5px;
  }
  
  .trending-repos {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .repo-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .repo-details p {
    margin-bottom: 5px;
  }